*  {
    background-color: #BDB76B;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a  {
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 5px 0;
    background-color: #ffffff; 
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container :after {
    content: "";
    display: block;
    clear: both;
}
header h1  {
    float: left;
    padding: 20px 0;
    color: 	#ffffff;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
background-color: #5F9EA0;
color: #fff;
}
.active {
    background-color: #5F9EA0;
    color: #fff;
}
.banner {
    height: 60vh;
    background-image: url("..gambar/banner.jpg");
    background-size: cover;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.banner ::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    buttom: 0;
    background-color: #5F9EA0;
}
.banner h2{
    color: rgb(0, 0, 0);
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid  rgb(0, 0, 0);
}
section{
    padding: 50px 0;
    
}
section h3{
    text-align: center;
    padding: 20px 0 ;
    color: #5F9EA0 ;
    margin-bottom: 20px; 
}
.profil p{
    color:#666;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
}
